.creategame-body h2 {
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-top: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gamesettings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamesettings .Begginer {
    background-color: green !important;
}

.gamesettings .Normal {
    background-color: yellowgreen !important;
}

.gamesettings .Advanced {
    background-color: brown !important;
}

.gamesettings .gamelevel{
    display: flex;
    align-items: center;
}

.gamesettings .gametype {
    display: flex;
    align-items: center;
}