/* SInput.css */

.s-input {
    background-color: rgba(255, 255, 255, 0.726);
    width: 30rem;
    height: 5rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 24pt;
    transition: 0.3s ease;
    border: none;

    border: 0.25rem dashed black;
    padding: 10px;
    display: inline-block;
    font-family: 'Shadows Into Light', cursive;
    transform: rotate(1deg);
}

.s-input:focus {
    outline: none;
    /* Remove default outline */
    border-color: black;
    /* Optionally change the border on focus */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.s-input:hover {
    background-color: black;
    color: white;
    cursor: text;
    transform: rotate(-1deg);
}